body {
  margin: 0;
  background-color: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  padding: 20px;
  background: #111;
  border-bottom: 1px solid #222;
}

a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.game-card {
  background: #161616;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}
